*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --base-color:194;
  --primary-color:hsla(var(--base-color), 97%, 31%, 1);
  --secondary-color:hsla(var(--base-color), 9%, 89%, 1);
  --black-color:hsla(var(--base-color), 5%, 7%, 1);
  --white-color:hsla(0, 0%, 100%, 1);
  --card-dark:hsla(240, 6%, 17%, 1);

  font-size: 62.5%;
}
body{
  font-family: 'Roboto', sans-serif;

  height: 100vh;
  
  display: grid;
}
.page{
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

.hide{
  display: none;
}

main{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#timer{
  font-size: 12.6rem;
  font-weight: 500;
  line-height: 14.8rem;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
#controls{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

footer{
  display: grid;
  grid-template-columns: auto auto;
  gap: 3.2rem;
}

button{
  cursor: pointer;
}
main button{
  border: none;
  background-color: transparent;
}
main button img{
  filter: brightness(0);
}
.card-modes:hover,
main button:hover{
  transform: scale(1.1);
  transition: all 0.2s;
}
footer button{
  border: none;
  background: transparent;
}

/* icone de dark-mode */
.dark-mode{
  border: none; 
  background: none;
  margin: 2rem 2rem 0 0; 

  position: absolute;
  right: 0;
  top: 0;
  z-index: 1; 
}
.dark-mode img{
  width: 3.8rem;
}

/* cards modals*/
/* dark-mode-off nos cards*/
.dark-mode-off.card-modes{
  border-radius:2.4rem ;
  padding: 3rem;

  background-color: var(--secondary-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}
.dark-mode-off.card-selected{
  background: var(--primary-color);
}
/* dark-mode-on nos cards*/
.dark-mode-on.card-modes{
  border-radius:2.4rem ;
  padding: 3rem;

  background: var(--card-dark);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}
.dark-mode-on.card-selected{
  background: hsla(195, 74%, 15%, 1);
}

/* dark-mode-on no button */
footer button:nth-child(2n) img{
  filter: brightness(10);
}
/* dark-mode-off no button */
.button-dark-mode img{
  filter: brightness(3.5);
}

/* dark-mode-off no range */
/* aparencia do range */
.dark-mode-off.range-style{
  -webkit-appearance: none;
  appearance: none;
  background: var(--black-color);
  outline: none;
  height: .4rem;
  border-radius: .8rem;
  width: 8rem;
  cursor: pointer;
}
/* aparencia da bolinha do range */
.dark-mode-off.range-style::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%; 

  background: var(--black-color);
  cursor: pointer;
}
/* aparencia do range clicado */
.dark-mode-off.range-clicked{
  background: var(--white-color);
}
.dark-mode-off.range-clicked::-webkit-slider-thumb {
  background: var(--white-color);
}
/* dark-mode-on no range*/
/* aparencia do range */
.dark-mode-on.range-style{
  -webkit-appearance: none;
  appearance: none;
  background: var(--white-color);
  outline: none;
  height: .4rem;
  border-radius: .8rem;
  width: 8rem;
  cursor: pointer;
}
/* aparencia da bolinha do range */
.dark-mode-on.range-style::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%; 

  background: var(--white-color);
  cursor: pointer;
}
/* aparencia do range clicado */
.dark-mode-on.range-clicked{
  background: var(--white-color);
}
.dark-mode-on.range-clicked::-webkit-slider-thumb {
  background: var(--white-color);
}

@media (min-width: 845px){
  .page{
    flex-direction: row;
  }
}